/* Custom CSS */

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }

  .container .intro_img img{
      width: 26%;
  }
  .navbar-default {
      background-image: linear-gradient(to right, #FFF5EB 0px, #FFF0E0 100%) !important;
  }
  .mobile {
      height: 100%;
  }
  
}

html {
  background: url("../assets/photo_1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background-color: transparent;
    padding-top: 65px;
}

/* navbar */
.navbar-default {
    background-color: transparent;
    background-image: none;
}

.intro_img img{
    width: 15%;
    margin: 14px 0;
}
